//Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

//Anton
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

//Jost
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');

//colors
$color-primary: #331445;
$color-secondary: #664E88;
$color-decoration: #63B4B8;
$color-hover: #A9E4D7;
$color-text: #FFFFFF;

//fonts
$font-title: "Jost", sans-serif;
$font-basic: "Open Sans", sans-serif;
